<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DataSaver</title>

    <link rel="stylesheet" href="~/assets/css/style-starter.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DataSaver.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/font-awesome/css/all.css" />
    <link href="//fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
</head>

<body>
    <div class="header-w3l">
        <header id="site-header" class="fixed-top">
            <div class="container">
                <nav class="navbar navbar-expand-lg stroke">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="bi bi-balloon-heart"></i>
                        Data Saver
                    </a>

                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav ml-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Link" asp-action="PreIndex">Links</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Category" asp-action="Index">Categories</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Topic" asp-action="Index">Topics</a>
                            </li>
                            <li class="nav-item">
                                @await Html.PartialAsync("_SearchBar", new FilterViewModel())
                            </li>
                                @await Html.PartialAsync("_LoginPartial")  
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="LogOff">
                                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>

            </div>
        </header>

    </div>
    <section class="w3l-team">
        <div class="team py-5">
            <div class="container py-lg-5 py-md-4 py-2">
                <main role="main" class="pb-3">
                    <partial name="_ToastrNotification" />
                    @RenderBody()
                </main>
            </div>
        </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="~/assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
