@inject SignInManager<ApplicationUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="LogOff">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" id="register" asp-area="" asp-controller="Account" asp-action="Register">
            <i class="fa-solid fa-user"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="login" asp-area="" asp-controller="Account" asp-action="Login">
            <i class="fa-regular fa-user"></i>
        </a>
    </li>
}

@section scripts {
    <script src="~/js/isRegistered.js"></script>
}