<body>
    <!--/w3l-banner-content-->
    <div class="w3l-banner-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 bannerhny-info pr-lg-5">
                    <h3 class="mb-4">
                       A tool for storing data
                    </h3>
                    <p class="pr-lg-5 mt-md-4 mt-3">
                        Have you been searching for a place to save all of your crucial links?            
                    </p>
                    <p>Here you come. Enjoy!</p>
                    <a class="btn btn-style mt-sm-5 mt-4 mr-2" href="about.html">
                        Read More
                    </a>
                </div>
                <div class="col-lg-6 bannerhny-info-img mt-lg-0 mt-5 pl-lg-5">
                    <img src="assets/images/frontpic.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

    <div class="w3l-content-1 py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="w3l-content-inf text-center">
                <h3 class="title-w3l mb-4">
                    How to use?
                </h3>
                <p class="para-sub pr-lg-5 mt-md-4 mt-3 mx-auto">
                    Lorem ipsum dolor sit amet consectetur ipsum elit. Qui eligendi
                    vitae sit.Ea
                    ipsum sed consequuntur illum facere.Vivamus a ligula quam tesque et libero ut justo, ultrices in. Ut eu leo
                    non. Duis sed dolor et amet.
                </p>
                <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="about.html">
                    Read More
                </a>
            </div>
        </div>
    </div>
</body>