<body>
    <div class="w3l-banner-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 bannerhny-info pr-lg-5">
                    <h3 class="mb-4">
                        A tool for storing data
                    </h3>
                    <p class="pr-lg-5 mt-md-4 mt-3">
                        Keep all of your useful links in one place.
                    </p>
                    <p>
                        Categorize and filter your links to quickly access the information you need.
                    </p>
                    <br>
                    <p>Save time and stay organized!</p>
                    <a asp-controller="Link" asp-action="Index" class="btn btn-style mt-sm-5 mt-4 mr-2">
                        Go to links
                    </a>
                </div>
                <div class="col-lg-6 bannerhny-info-img mt-lg-0 mt-5 pl-lg-5">
                    <img src="assets/images/frontpic.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

    <div class="w3l-content-1 py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="w3l-content-inf text-center">
                <h3 class="title-w3l mb-4">
                    How to use?
                </h3>
                <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2">
                    1. Create a category
                </a>
                <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2">
                    2. Next create a topic
                </a>
                <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2">
                    3. Add a new link
                </a>
            </div>
        </div>
    </div>
</body>