<section class="w3l-error-9">
	<div class="error-page">
	<div class="wrapper-full">
			<div class="main-content">
				<h2>OOPS!</h2>
				<h4>Looks like you're lost...</h4>
				<div class="buttons">
				 <a href="@Url.Action("Index", "Home")">Tap here to visit homepage.</a>
				</div>
			</div>
		</div>
	</div>
</section>