@using DataSaver.ApplicationCore.ViewModels
@model LinkForCreateViewModel   

<form method="post" asp-controller="Link" asp-action="DeleteLink">
    <input asp-for="LinkVM!.Id" hidden />
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h4 class="text-info pl-3">Link for removing:</h4>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-8">
                        <label asp-for="LinkVM!.Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="LinkVM!.Name" disabled class=" form-control" />
                    </div>
                </div>
                <p></p>
                <div class="form-group row">
                    <div class="col-8">
                        <label asp-for="LinkVM!.Description"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="LinkVM!.Description" disabled class=" form-control" />
                    </div>
                </div>
                <p></p>
                <div class="form-group row">
                    <div class="col-8">
                        <label asp-for="LinkVM!.UrlLink"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="LinkVM!.UrlLink" disabled class=" form-control" />
                    </div>
                </div>
                <p></p>
                <div class="form-group row">
                    <div class="col-8">
                        <label asp-for="LinkVM!.CategoryId"></label>
                        <select asp-for="LinkVM!.CategoryId" asp-items="@Model.Categories"
                                disabled class="form-control">
                            <option disabled selected value="">Select category</option>
                        </select>
                    </div>
                </div>
                <p></p>
                <div class="form-group row">
                    <div class="col-8">
                        <label asp-for="LinkVM!.TopicId"></label>
                        <select asp-for="LinkVM!.TopicId" asp-items="@Model.Topics"
                                disabled class="form-control">
                            <option disabled selected value="">Select topic</option>
                        </select>
                    </div>
                </div>
                <p></p>
                <div class="form-group row p-3">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <button type="submit" class=" btn btn-danger w-50">Do you really wanna delete it?</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
