@using DataSaver.ApplicationCore.ViewModels
@model LinkForCreateViewModel

<form method="post" asp-controller="Link" asp-action="UpdateLink">
    <input asp-for="LinkVM!.Id" hidden />
    <div class="border p-2">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row-3">
            <h2>Updated link</h2>
            <p></p>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-8">
                        <label asp-for="LinkVM!.Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="LinkVM!.Name" class=" form-control" />
                        <span asp-validation-for="LinkVM!.Name" class=" text-danger"></span>
                    </div>
                </div>
                <p></p>
                <div class="form-group row">
                    <div class="col-8">
                        <label asp-for="LinkVM!.Description"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="LinkVM!.Description" class=" form-control" />
                        <span asp-validation-for="LinkVM!.Description" class=" text-danger"></span>
                    </div>
                </div>
                <p></p>
                 <div class="form-group row">
                    <div class="col-8">
                        <label asp-for="LinkVM!.UrlLink"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="LinkVM!.UrlLink" class=" form-control" />
                        <span asp-validation-for="LinkVM!.UrlLink" class=" text-danger"></span>
                    </div>
                </div>
                <p></p>
                <div class="form-group row">
                    <div class="col-8">
                        <label asp-for="LinkVM!.CategoryId"></label>
                        <select asp-for="LinkVM!.CategoryId" asp-items="@Model.Categories"
                                class="form-control">
                            <option disabled selected value="">Select category</option>
                        </select><span asp-validation-for="LinkVM!.CategoryId" class=" text-danger"></span>
                    </div>
                </div>
                <p></p>
                <div class="form-group row">
                    <div class="col-8">
                        <label asp-for="LinkVM!.TopicId"></label>
                        <select asp-for="LinkVM!.TopicId" asp-items="@Model.Topics"
                                class="form-control">
                            <option disabled selected value="">Select topic</option>
                        </select><span asp-validation-for="LinkVM!.TopicId" class=" text-danger"></span>
                    </div>
                </div>
                <p></p>
                <div class="form-group row p-2">
                    <div class="col-8 offset row">
                        <div class="col">
                            <input type="submit" class="btn btn-success" value="Update" />
                        </div>
                        <div class="col">
                            <a asp-controller="Link" asp-action="Index" class="btn btn-dark">
                                Go Back
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }
}