<div class="card-body">
    <div class="d-flex justify-content-center align-items-center">
        <form asp-route="LogOff">
            <div class="card border-info mb-3" style="width: 100%;">
                <div class="card-header">
                    <h4><strong>Are you sure you want to log out?</strong></h4>
                </div>
                <div class="card-body">
                    <div class="btn btn-primary" onclick="logOff()">Yes</div>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts{
    <script src="~/js/logOff.js"></script>
}